/* django messages */
.message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5em 1em;
    font-size: 22px;
}

.message.error {
    background: #f00c;
}

.message.success {
    background: #0f0c;
}

.message::before {
    content: "✖";
    font-size: 24px;
    margin-right: 1em;
}

@media (min-width: 768px) {
    .min-vh-md-100 {
        min-height: 100vh !important;
    }
}

/* Have an image from a rotating set as the background */
:root {
    --bg-image: none;
}

.bg-image-random {
    position: relative;
}

.bg-image-random::before {
    content: "";
    background-image: var(--bg-image);
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.15;
    z-index: -1;
    filter: blur(0.15em);
}

td, th {
    border-color: black !important;
}

/* Only show items when mouse is over their container */
.hover-show-container .hover-show-target {
    opacity: 0;
    transition: opacity 1s;
}

.hover-show-container:hover .hover-show-target {
    opacity: 1;
}
