{% extends 'measuring/base.html' %}

{% block title %}Administration{% endblock %}

{% block main %}
    {% if messages %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% if mode == "setup" %}
        <div id="admin-init" class="container ml-0">
            <header class="pb-2 mt-4 mb-2">
                <h2>Create initial user</h2>
            </header>
            <form method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-auto">
                        <input name="username" class="form-control" id="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-auto">
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>
    {% elif mode == "login" %}
        <div id="login-form" class="container ml-0">
            <header class="pb-2 mt-4 mb-2">
                <h2>Login</h2>
            </header>
            <form action="{% url "measuring:login" %}" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-auto">
                        <input class="form-control" name="username" id="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-auto">
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <div class="container ml-0">
            <header class="pb-2 mt-4 mb-2">
                <h1>Administration</h1>
            </header>
            <div>
                <h2>Registered schools</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>School name</th>
                        <th>Short name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for school in schools %}
                        <tr>
                            <td>{{ school.last_name }}</td>
                            <td>{{ school.username }}</td>
                            <td><a href="{% url "measuring:archive" school.username %}" class="btn btn-danger">Archive</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <h2>Register a new school</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="new-school-name" class="col-sm-2">School name</label>
                        <div class="col">
                            <input id="new-school-name" class="form-control" name="new-school-name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="new-school-username" class="col-sm-2">Short name</label>
                        <div class="col">
                            <input id="new-school-username" class="form-control" name="new-school-username">
                            <small>Short, lowercase with "_" instead of spaces works well.</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="new-school-password" class="col-sm-2">Password</label>
                        <div class="col">
                            <input type="password" class="form-control" id="new-school-password"
                                   name="new-school-password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <a href="{% url "admin:index" %}">Django site admin interface</a>
            </div>
        </div>
    {% endif %}
{% endblock %}