{% load static %}
<!doctype html>
<html lang="en-gb">
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'measuring/style.css' %}">
        <script
                src="https://code.jquery.com/jquery-3.5.1.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.13.1/js/all.js"
                integrity="sha256-HkXXtFRaflZ7gjmpjGQBENGnq8NIno4SDNq/3DbkMgo="
                crossorigin="anonymous"></script>
        <script src="{% static "measuring/main.js" %}"></script>
        <title>
            {% block title %}Primary School Energy Mapping Challenge{% endblock %}
        </title>
    {% endblock head %}
    {% block head_extra %}
    {% endblock head_extra %}
</head>
{% block body %}
    <body>
    <div class="container-fluid">
        <div class="row min-vh-md-100">
            {% block nav %}
                <aside class="col-12 col-md-auto p-0 bg-dark">
                    <nav class="navbar navbar-expand navbar-dark flex-md-column flex-row align-items-start py-2 h4">
                        <div class="collapse-toggle navbar-collapse">
                            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                                <li class="nav-item">
                                    <a class="nav-link pl-0" href="{% url "measuring:index" %}">
                                        <i class="fas fa-home fa-fw"></i>
                                        <span class="d-none d-md-inline font-weight-bold">Home</span>
                                    </a>
                                </li>
                                <li class="nav-item d-none d-md-inline">
                                    <hr class="border-secondary">
                                </li>
                                {% if user.is_authenticated %}
                                    {% if user.is_staff %}
                                        <li class="nav-item">
                                            <a class="nav-link pl-0"
                                               title="Logged in as admin user: {{ user.username }}">
                                                <i class="fas fa-user-cog fa-fw"></i>
                                                <span class="d-none d-md-inline">{{ user.username }}</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link pl-0" href="{% url "measuring:admin" %}">
                                                <i class="fas fa-cog fa-fw"></i>
                                                <span class="d-none d-md-inline font-weight-bold">Admin</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <a class="nav-link pl-0" title="Logged in as {{ user.last_name }}">
                                                <i class="fas fa-users fa-fw"></i>
                                                <span class="d-none d-md-inline">{{ user.last_name }}</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link pl-0" href="{% url "measuring:school" user.username %}">
                                                <i class="fas fa-tachometer-alt fa-fw"></i>
                                                <span class="d-none d-md-inline font-weight-bold">Measurements</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li class="nav-item">
                                        <a class="nav-link pl-0" href="{% url "measuring:logout" %}">
                                            <i class="fas fa-sign-out-alt fa-fw"></i>
                                            <span class="d-none d-md-inline font-weight-bold">Logout</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link pl-0" href="{% url "measuring:login" %}">
                                            <i class="fas fa-sign-in-alt fa-fw"></i>
                                            <span class="d-none d-md-inline font-weight-bold">Login</span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="nav-item d-none d-md-inline">
                                    <hr class="border-secondary">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-0" href="{% url "measuring:data" %}">
                                        <i class="fas fa-chart-line fa-fw"></i>
                                        <span class="d-none d-md-inline font-weight-bold">Data</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link pl-0" href="{% url "measuring:archives" %}">
                                        <i class="far fa-folder-open fa-fw"></i>
                                        <span class="d-none d-md-inline font-weight-bold">Archives</span>
                                    </a>
                                </li>
                                <li class="nav-item d-none d-md-inline">
                                    <hr class="border-secondary">
                                </li>
                                <li class="nav-item d-none d-md-inline">
                                    <a class="nav-link pl-0" href="https://www.oe.phy.cam.ac.uk/">
                                        <img src="{% static "measuring/images/logo_cam.png" %}"
                                             alt="University of Cambridge logo" width="180px" class="my-2">
                                    </a>
                                </li>
                                <li class="nav-item d-none d-md-inline">
                                    <a class="nav-link pl-0" href="https://epsrc.ukri.org/">
                                        <img src="{% static "measuring/images/logo_epsrc.png" %}"
                                             alt="EPSRC logo" width="180px" class="my-2">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </aside>
            {% endblock %}
            {% block content %}
                <main class="col bg-image-random">
                    {% block main %}
                    {% endblock main %}
                </main>
            {% endblock content %}
        </div>
        {% block footer %}
            <footer class="footer">
            </footer>
        {% endblock footer %}
    </div>
    </body>
{% endblock body %}
</html>