{% extends "measuring/base.html" %}

{% block head_extra %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock head_extra %}

{% block main %}
    <header class="m-3">
        {% if archives %}
            <h1>Archived data</h1>
        {% else %}
            <h1>Primary School Energy Mapping Challenge</h1>
        {% endif %}
        <hr>
    </header>
    <div class="row">
        <div class="col-auto form-group">
            <label class="h3" for="unit-switch"><i class="fa fa-exchange-alt fa-fw"></i>&nbsp;Change units</label>
            <select id="unit-switch" class="custom-select">
                <option value="watt">Watt</option>
                <option value="kwh">kWh</option>
                <option value="raw">Readings</option>
            </select>
        </div>
        <div id="school-nav" class="col mb-3">
            <h3>Go to school:</h3>
            {% for school in meta %}
                <a class="btn btn-success mb-2" href="{% url "measuring:school" school.username %}">
                    {{ school.name }}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div id="data-solar-cumulative" class="col-xl-6 solar-plot-cumulative">
            <h3><i class="fa fa-solar-panel"></i> Cumulative Solar Plot</h3>
            {{ data.solar.xy|json_script:"solar_xy" }}
            <div class="plot-area"></div>
        </div>
        <div id="data-wind-cumulative" class="col-xl-6 wind-plot-cumulative">
            <h3><i class="fa fa-wind"></i> Cumulative Wind Plot</h3>
            {{ data.wind.xy|json_script:"wind_xy" }}
            <div class="plot-area"></div>
        </div>
    </div>
    <div class="row">
        <div id="data-plot-solar" class="col-xl-6 solar-plot-multi">
            <h3><i class="fa fa-solar-panel"></i> Solar Plot</h3>
            {{ data.solar.xy|json_script:"solar_xy" }}
            <div class="plot-area"></div>
        </div>
        <div id="data-plot-wind" class="col-xl-6 wind-plot-multi">
            <h3><i class="fa fa-wind"></i> Wind Plot</h3>
            {{ data.wind.xy|json_script:"wind_xy" }}
            <div class="plot-area"></div>
        </div>
    </div>
{% endblock main %}