{% extends "measuring/base.html" %}
{% load static %}

{% block main %}
    <div class="m-3">
        <nav>
            <div class="nav nav-tabs" id="content-nav" role="tablist">
                <a class="nav-item nav-link active h3" id="content-about-tab" data-toggle="tab" href="#content-about"
                   role="tab" aria-controls="content-about" aria-selected="true">About</a>
                <a class="nav-item nav-link h3" id="content-experiments-tab" data-toggle="tab"
                   href="#content-experiments" role="tab" aria-controls="content-experiments" aria-selected="false">Experiments</a>
                <a class="nav-item nav-link h3" id="content-crunching-tab" data-toggle="tab" href="#content-crunching"
                   role="tab" aria-controls="content-crunching" aria-selected="false">Numbers</a>
                <a class="nav-item nav-link h3" id="content-units-tab" data-toggle="tab" href="#content-units"
                   role="tab" aria-controls="content-units" aria-selected="false">Units</a>
                <a class="nav-item nav-link h3" id="content-resources-tab" data-toggle="tab" href="#content-resources"
                   role="tab" aria-controls="content-resources" aria-selected="false">Resources</a>
            </div>
        </nav>
        <div class="tab-content" id="content">
            <div class="tab-pane fade show active border border-top-0 bg-white p-3" id="content-about" role="tabpanel"
                 aria-labelledby="content-about-tab">
                <section id="units-info">
                    <h2>About This Project</h2>
                    <p>The fight against climate change is proving to be a formidable challenge but the youngest
                        generation are a rising force for climate justice. Lead by inspirational peers such as Swedish
                        teenager <a class="font-weight-bold" href="#" data-toggle="tooltip" data-html="true"
                                    title="<a class='text-info' href='https://www.youtube.com/watch?v=EAmmUIEsN9A'>https://www.youtube.com/watch?v=EAmmUIEsN9A</a>">
                            Greta Thunberg</a>,
                        young people all around the world are pushing governments and
                        international corporations to take responsibility for their CO2 emissions, and act to reduce
                        them.</p>
                    <p>The greatest step we can take towards combatting climate change is the conversion to clean,
                        renewable energy resources such as wind and solar. When we burn fossil fuels, such as coal and
                        oil, greenhouse gases (like carbon dioxide) are released which harm our environment in many
                        ways. These gases linger in the Earth’s atmosphere, acting as a blanket, gradually warming the
                        planet. The more greenhouse gases in our atmosphere, the thicker the blanket becomes.</p>
                    <p>As scientific researchers at the University of Cambridge
                        (<a href="https://www.stranks.oe.phy.cam.ac.uk/">www.stranks.oe.phy.cam.ac.uk</a>)
                        one of our jobs is to discover and develop
                        <a class="font-weight-bold" href="#" data-toggle="tooltip" data-html="true"
                           title="E.g. Perovskites for use in cheap, efficient and lightweight solar cells<br>
                           Interview with Dr Sam Stranks:
                           <a class='text-info' href='https://ideas.ted.com/meet-perovskite-the-mystery-mineral-that-could-transform-our-solar-energy-future/'>
                           https://ideas.ted.com/meet-perovskite-the-mystery-mineral-that-could-transform-our-solar-energy-future/</a>
                           <br>
                           Article in TIME magazine:
                           <a class='text-info' href='https://time.com/5297011/solar-energy-perovskite-national-lab/'>
                           https://time.com/5297011/solar-energy-perovskite-national-lab/</a>">
                            novel materials</a>
                        that will help provide green energy for future generations, with a focus on producing low-cost
                        solar cell materials. We also have a responsibility to share our research and expertise with
                        others in order to accelerate the uptake of green energy sources and spread awareness of the
                        issues faced by society.</p>
                    <p>The Primary School Energy Mapping Challenge is one such way to reach out and share the knowledge
                        we have gained from our studies and experiments. <span class="font-weight-bold">With this project
                            we aim to teach budding young scientists at Primary Schools across the UK, about the benefits
                            of renewable energy and its potential to permanently replace fossil fuels.</span>
                    </p>
                    <iframe class="border-0" width="960" height="540"
                            src="https://www.youtube-nocookie.com/embed/Opo8vUQEULQ"
                            allow="encrypted-media; picture-in-picture" allowfullscreen></iframe>
                    <p>In this programme, we are asking students to measure the sunlight and wind-speed in their school
                        yards, each day, for a six-week period. By providing measurement instruments and demonstrations
                        we will facilitate development of their investigative skills and scientific mindedness. Pupils
                        will log their data on this online portal which not only describes and contextualises the amount
                        of energy that could be generated by
                        <a href="#content-crunching" onclick="$('#content-crunching-tab').click()">
                            a small wind turbine or solar installation</a>
                        on their school grounds but allows them to compare data with other schools around the country.
                    </p>
                    <p>This project hopes to give awareness to the youth that will be affected by the climate crisis,
                        while also teaching them important critical thinking and data acquisition skills that are
                        appropriate for this age group (Year 6, Primary 7). Equipped with wind and solar measurement
                        tools, the students will take complete ownership of the project. Throughout, they will be
                        exposed to concepts such as energy, power, electricity, and scientific units. </p>
                    <p>We are thrilled with the energy and enthusiasm shown by the students so far and hope to keep this
                        project growing across the UK. If your Primary School is interested in joining in on this unique
                        challenge, please do not hesitate to contact us!</p>
                    <table class="table table-responsive table-borderless">
                        <tr>
                            <td class="align-bottom">
                                <img src="{% static 'measuring/images/ProfPicBeth.jpg' %}"
                                     alt="Profile picture of Dr Beth Tennyson" height="400px">
                            </td>
                            <td class="align-bottom">
                                <img src="{% static 'measuring/images/ProfPicStu.jpg' %}"
                                     alt="Profile picture of Stuart Macpherson" height="400px">
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">
                                Dr Beth Tennyson (<a href="mailto:et446@cam.ac.uk">et446@cam.ac.uk</a>)
                            </td>
                            <td class="font-weight-bold">
                                Stuart Macpherson (<a href="mailto:sm2275@cam.ac.uk">sm2275@cam.ac.uk</a>)
                            </td>
                        </tr>
                    </table>
                </section>
            </div>
            <div class="tab-pane fade border border-top-0 bg-white p-3" id="content-experiments" role="tabpanel"
                 aria-labelledby="content-experiments-tab">
                <section id="experiments">
                    <h2>The Experiments</h2>
                    <h3>Generating electricity from sunlight</h3>
                    <p>Sunlight is the most abundant resource on earth. We receive LOTS of light energy from the
                        sun!</p>
                    <p>The amount of sunlight shining on the earth contains more than enough energy to power the entire
                        world. However, right now in 2019, we don’t have enough solar panels to collect this energy. In
                        fact, we need to build 50 times more solar panels than we currently have, to satisfy our
                        power-hungry planet (take a look at
                        <a class="font-weight-bold" href="#experiments-figure-1">figure 1</a> to explore this in more
                        detail).</p>
                    <p>While
                        <a class="font-weight-bold" href="#" data-toggle="tooltip"
                           title="If we make solar panels more efficient then we can generate more
                                  electricity from the same amount of sunlight.">improving</a>
                        our solar panels and
                        <a class="font-weight-bold" href="#" data-toggle="tooltip"
                           title="We can install solar panels on buildings and roofs in towns and cities.
                                  We could also build large-scale solar farms in more remote places.">building more</a>
                        of them are excellent ways to collect more
                        <a class="font-weight-bold" href="#" data-toggle="tooltip" data-html="true"
                           title="<p>This is energy that we can gather from sources that will never run out!
                                  Renewable sources include sunlight, wind, ocean tides and geothermal energy
                                  (heat from underground).</p><p>Fossil fuels like coal, oil and gas are
                                  <b>non-renewable</b> because if we keep using them they will run out –
                                  probably in the next 50-100 years!</p>">renewable energy</a>, we need to think
                        carefully about where to place these panels. Some parts of the world receive less sunlight than
                        others. For example, India receives around twice as much sunlight per area of land, as Ireland.
                        This is part of the reason that India has chosen to build
                        <a class="font-weight-bold" href="#" data-toggle="tooltip"
                           title="In India there are around 15 people for every solar panel, in Ireland there are
                                  around 55 (Assuming that all panels are 300 watt models).">1000 times more solar
                            panels than Ireland!</a></p>
                    <p>Even in the UK, the amount of sunlight hitting the ground can vary strongly from place to place.
                        But by how much? Would it make sense to attach solar panels to the roof of every school in the
                        UK? Or would it be more sensible to collect
                        <a class="font-weight-bold" href="#" data-toggle="tooltip"
                           title="Wind, tidal, geothermal, hydroelectric…">other</a>
                        types of renewable energy in some regions?</p>
                    <p>To answer these intriguing questions, we need the help of a clever, diverse and enthusiastic team
                        of young scientists from across the country…</p>
                    <figure class="figure" id="experiments-figure-1">
                        <img src="{% static 'measuring/images/experiments-figure-1.png' %}"
                             alt="Solar energy compared to demand" width="600px">
                        <figcaption class="figure-caption">
                            <h4> Figure 1: Solar energy and global demand
                            </h4>
                            <p> The sun shines around
                                <a class="font-weight-bold" href="#" data-toggle="tooltip"
                                   title="International Energy Agency, SHC Solar Update (2015);
                                          BP Statistical Review of World Energy (2017)">
                                    20,000 TW</a> (Terawatts) of power on the Earth. That is 20,000,000,000,000,000
                                Watts (20 quadrillion!). Of the 20 TW we need to power every country on earth, a total
                                of 0.4 TW is currently generated by solar panels (~2% of all electricity).</p>
                        </figcaption>
                    </figure>
                    <h3>Scientific measurements</h3>
                    <p>We are asking our student scientists to measure sunlight and wind speed in their school
                        playground, every day for 8 weeks. By doing this, they can build up a picture of how much solar
                        energy or wind energy could be collected if solar panels or a wind turbine were installed at
                        their school. They can then compare their data with that of the other participating classes, to
                        figure out where in the UK is best to invest in solar or wind energy.</p>
                    <p>To measure how much light energy the schools are receiving from the sun, students will collect
                        data with
                        <a class="font-weight-bold" href="#" data-toggle="tooltip" data-html="true"
                           title="<img src='{% static 'measuring/images/experiments-luxmeter.jpg' %}' height='300px'>">Luxmeters.</a>
                        These tools measure the amount of visible light incident on a sensor (see
                        <a class="font-weight-bold" href="#experiments-figure-2">figure 2</a> to find out more about
                        <a class="font-weight-bold" href="#" data-toggle="tooltip"
                           title="Light that is detected by our eyes, containing every colour of the rainbow, from red to violet. ">visible</a>
                        light). The amount of light is then displayed on the screen, in
                        <a class="font-weight-bold" href="#" data-toggle="tooltip" data-html="true"
                           title="<p>1 Lux is equal to 1 Lumen/m<sup>2</sup>. The number of Lux detected is the
                                  number of Lumens incident on each square metre of ground.</p><p>A Lumen is a
                                  quantity of <b>visible</b> light. A candle emits around 10 lumens of light.
                                  Car headlights emit around 1000 lumens!</p> ">Lux</a>.
                    </p>
                    <p>Solar panels collect <span class="font-weight-bold">light energy</span> from the sun and convert
                        this into
                        <a class="font-weight-bold" href="#" data-toggle="tooltip"
                           title="Light and electricity are just 2 forms of energy. Other types include heat energy,
                                  kinetic energy (movement) and chemical energy (e.g. energy we get from food or that
                                  is stored in batteries).">electrical energy</a> that we can use. The more light that
                        is absorbed, the more electricity we can gather. We can either use this electricity to
                        <a class="font-weight-bold" href="#" data-toggle="tooltip" data-html="true"
                           title="The <b>power</b> used by a device is the amount of energy it consumes in a
                                  certain amount of time.">power</a> our homes and devices, or we can store it in
                        batteries to use later.</p>
                    <p>After
                        <a href="#content-crunching" onclick="$('#content-crunching-tab').click()">crunching the
                            numbers</a>, we can figure out how much power our solar panels can generate with the
                        sunlight (Lux) measured that day. The power output of the solar panel is measured in
                        <a class="font-weight-bold" href="#" data-toggle="tooltip" data-html="true"
                           title="<p>A <b>Watt</b> is a unit that we use to quantify an amount of power, just like
                                  a <b>second</b> is a unit of time and a <b>metre</b> is a unit of length.</p>
                                  <p>Different appliances require different amounts of power to operate. For example,
                                  a modern light bulb might only use 10 Watts of power while a microwave uses around
                                  1000 W!</p>">Watts</a>.
                        The students will investigate how much power their solar panels would produce each day and
                        compare this amount of power with real world applications, e.g. how many electric cars could be
                        charged for the “school run”, with power from the sun?</p>
                    <figure class="figure" id="experiments-figure-2">
                        <img src="{% static 'measuring/images/experiments-figure-2.jpg' %}" alt="Solar spectrum"
                             width="600px">
                        <figcaption class="figure-caption">
                            <h4>Figure 2: Graph of the solar spectrum</h4>
                            <p>The sun emits many different types of radiation. The two main types of radiation it emits
                                are <b>infrared</b> (which our bodies can absorb and feel as heat) and <b>visible</b>
                                (which our eyes can detect). Every colour of the rainbow is emitted by the sun, from low
                                energy red light, all the way to high energy violet light.</p>
                            <p>Beware of <b>ultra-violet</b> light - this has more energy than infrared and visible
                                light and can damage eyes and skin. Sun cream and sunglasses can block ultra-violet
                                light, keeping us safe.</p>
                        </figcaption>
                    </figure>
                    <p> To determine how much wind energy the schools can collect, the students will use
                        <a class="font-weight-bold" href="#" data-toggle="tooltip" data-html="true"
                           title="<img src='{% static 'measuring/images/experiments-anemometer.jpg' %}' height='300px'>">anemometers</a>
                        to measure the wind speed in
                        <a class="font-weight-bold" href="#" data-toggle="tooltip"
                           data-html="true"
                           title="This is an average of the number of metres that the air is moving each second.
                                  On stormy days when the wind is gusting, this value might change very frequently!
                                  Wind speed could also be measured in other units of speed like <b>miles per hour</b>
                                  or <b>kilometres per hour</b>.">metres per second</a>. Wind turbines generate
                        electricity when the movement of air makes their blades move, rotating the turbine. The faster
                        the air moves, the faster the turbine will spin. So, on a windy day when the wind speed is
                        higher, we can generate more electricity.</p>
                    <p>After <a href="#content-crunching" onclick="$('#content-crunching-tab').click()">crunching the
                        numbers</a>, we can figure out how much power our wind turbine can generate at a certain wind
                        speed. We have specially picked solar and wind installations that should produce comparable
                        amounts of power in UK weather conditions. It will be informative for students to compare their
                        wind and solar data to decide which renewable energy type is best for their school.</p>
                    <h3>Big questions…</h3>
                    <p>Weather in the UK is extremely changeable and day-to-day forecasts vary dramatically. Weather
                        conditions will also vary more steadily, on a
                        <a class="font-weight-bold" href="#"
                           data-toggle="tooltip" data-html="true"
                           title="<p>As the earth orbits, it’s tilt relative to the sun will change throughout the
                                  year.</p><p>For the UK, summer occurs from June to August, when the northern
                                  hemisphere is tilted towards the sun.</p><p>Because Australia is in the southern
                                  hemisphere, summer there occurs from December to February!<p>">seasonal</a>
                        basis. Ideally, we want students to be able to identify these effects from their data and
                        rationalise the answers to such questions as, “Why do we generate more solar energy in summer?”
                        and, “Why do wind turbines and solar panels work well together?”.</p>
                    <p><a class="font-weight-bold" href="#experiments-figure-3">Figure 3</a> shows how the UK already
                        uses a diverse renewable energy supply to cope with varying power demand.</p>
                    <figure class="figure" id="experiments-figure-3">
                        <img src="{% static 'measuring/images/experiments-figure-3.gif' %}" alt="Seasonal power"
                             width="600px">
                        <figcaption class="figure-caption">
                            <h4>Figure 3: Chart showing monthly electricity demand in England & Wales (black line) and
                                the monthly electricity supply from renewable sources such as wind (black bars) and
                                solar (white bars).</h4>
                            <p>While
                                wind power drops in the summer months, the energy deficit that is created is almost
                                entirely offset
                                by the increase in power from solar such that the supply matches the varying demand.
                                (Source:
                                <a href="https://publications.parliament.uk/pa/ld200304/ldselect/ldsctech/126/4021102.html">https://publications.parliament.uk/pa/ld200304/ldselect/ldsctech/126/4021102.html)</a>
                            </p>
                        </figcaption>
                    </figure>
                    <p>And the biggest question: Are renewables worth investigating and investing in?</p>
                    <p>… Definitely!</p>
                </section>
            </div>
            <div class="tab-pane fade border border-top-0 bg-white p-3" id="content-crunching" role="tabpanel"
                 aria-labelledby="content-crunching-tab">
                <section id="crunching-numbers">
                    <h2>Crunching numbers</h2>
                    <p class="font-weight-bold">This section is intended for the interested or intrigued who would like
                        to explore every step that is taken to calculate the energy statistics from the student’s
                        data.</p>
                    <p>Students are measuring sunlight (Lux) and wind speed (m/s) but we want to show them how much
                        useful energy can be harnessed using solar panels and a wind turbine, according to these values.
                        To that end, we must make some assumptions about the technology that could realistically exist
                        on the school premises, and that may conceivably be incorporated into new-build schools of the
                        future.</p>
                    <p>Hypothetical solar installation:</p>
                    <ul>
                        <li>16% efficient solar panels (this is conservative but realistic for competitively priced
                            modules).
                        </li>
                        <li>Area coverage of (5x5) m<sup>2</sup> = 25 m<sup>2</sup>.</li>
                        <li>Luminous efficacy of sunlight = 92.5 Lumens/Watt (see
                            <a href="#crunching-numbers-figure-1">figure 1</a>)
                        </li>
                        <li>Average hours of sunlight = 0.5 x H, where H is the number of daylight hours at the latitude
                            of each school on a particular day of the year (see
                            <a href="#crunching-numbers-figure-2">figure 2</a> and
                            <a href="#crunching-numbers-figure-3">figure 3</a>).
                        </li>
                    </ul>
                    <p> Hypothetical wind installation:</p>
                    <ul>
                        <li> Windspot 7.5 kW turbine (Height = 15 m, Blade diameter = 6.3 m).</li>
                        <li>Students are measuring wind speed at a height of 1 m above the ground.</li>
                        <li>Regular “cut in” speed for this turbine is 3 m/s but to avoid “zero power” days we have set
                            the power output below this wind speed, to a small non-zero value (see calibration curve in
                            <a href="#crunching-numbers-figure-4">Figure 4(b)</a>).
                        </li>
                        <li>“Cut out” wind speed is 20 m/s (too dangerous to operate).</li>
                    </ul>
                    <figure class="figure" id="crunching-numbers-figure-1">
                        <img src="{% static 'measuring/images/crunching-numbers-figure-1.jpg' %}"
                             alt="Sunlight measured on Luxmeter" width="600px">
                        <figcaption class="figure-caption">
                            <h4>Figure 1: Sunlight, as measured by a Luxmeter</h4>
                            <p>Our Luxmeters are only sensitive to <b>visible</b> light, so this is what the sun looks
                                like to them – no infrared or ultra-violet light is detected.
                                Interestingly, this is also what the sun looks like to our eyes (Photopic spectrum)!</p>
                            <p>By integrating the product of the solar and photopic spectra we can calculate a parameter
                                called the <b>luminous efficacy</b>. This is the relationship between the intensity of
                                the visible light (Lux) emitted by a source, and the power of the source (Watts).
                            </p>
                        </figcaption>
                    </figure>
                    <figure class="figure" id="crunching-numbers-figure-2">
                        <img src="{% static 'measuring/images/crunching-numbers-figure-2.png' %}"
                             alt="Daylight hours by latitude" width="600px">
                        <figcaption class="figure-caption">
                            <h4>Figure 2: Daylight hours by latitude</h4>
                            <p>The tilt of the earth relative to its rotational and orbital axes mean that the number of
                                hours of daylight changes throughout the year, depending on the latitude of a place (how
                                far it lies from the equator). In January, it is winter in the northern hemisphere so
                                days there are at their shortest. It is summer in the southern hemisphere.</p>
                            <p>At the spring and autumn equinoxes (around days 80 and 260), the earth is tilted neither
                                towards or away from the sun, so the length of the day is the same (12 hours) all across
                                the globe!</p>
                        </figcaption>
                    </figure>
                    <figure class="figure" id="crunching-numbers-figure-3">
                        <img src="{% static 'measuring/images/crunching-numbers-figure-3.png' %}"
                             alt="Daylight hours in different locations" width="600px">
                        <figcaption class="figure-caption">
                            <h4>Figure 3: Daylight hours in different locations</h4>
                            <p>In the UK, days are longer in the months of June & July because the northern hemisphere
                                is tilted towards the sun. The opposite is true for places in the southern hemisphere,
                                like Australia.</p>
                            <p>The variation is most extreme in places which lie far from the equator, like in Iceland
                                where there is almost no daylight in winter. Singapore on the other hand, lies very
                                close to the equator so the length of day there barely changes.</p>
                        </figcaption>
                    </figure>
                    <p>Wind turbines are built to be tall because wind speed increases with altitude. The wind turbine
                        we have chosen as a model for this project is the Windspot 7.5 kW turbine which is 15 m tall.
                        Since our students will be taking wind measurements at their height above ground level (~1 m),
                        we must apply a correction factor to their data to estimate the wind speed 14 m above.</p>
                    <p>By assuming the wind speed at low altitude obeys the
                        <a class="font-weight-bold" href="#!" data-toggle="tooltip"
                           data-html="true"
                           title="<p>See references:</p>
                                  <p>Garrat, J. R. <i>The Atmospheric Boundary Layer</i>.
                                  Cambridge University Press, Cambridge (1992).<p>
                                  <a href='http://www.met.reading.ac.uk/~marc/it/wind/interp/log_prof/'>
                                  http://www.met.reading.ac.uk/~marc/it/wind/interp/log_prof/</a>">
                            logarithmic wind profile</a>,
                        <a href="#crunching-numbers-figure-4">figure 4(a)</a> shows the predicted wind speed at
                        increasing height when the wind speed at 1 m is 1 m/s. Curves are shown for 3 different levels
                        of terrain “roughness”.This quantifies the height of any obstacles on the ground which introduce
                        drag, reducing the measured wind speed. Assuming an open area of a school playground to have a
                        low roughness level of 10 cm, we can calculate the wind speed at the height of the turbine to be
                        2.2x higher than at 1 m.
                        <a href="#crunching-numbers-figure-4">Figure 4(b)</a> shows the calibration curve of our wind
                        turbine of choice which allows us to determine its hypothetical power output from the corrected
                        wind speed at 15 m.</p>
                    <figure class="figure" id="crunching-numbers-figure-4">
                        <div class="row">
                            <div class="col">
                                <img src="{% static 'measuring/images/crunching-numbers-figure-4a.jpg' %}"
                                     alt="Daylight hours by latitude" width="400px"></div>
                            <div class="col">
                                <img src="{% static 'measuring/images/crunching-numbers-figure-4b.jpg' %}"
                                     alt="Daylight hours by latitude" width="400px"></div>
                        </div>
                        <figcaption class="figure-caption">
                            <h4>Figure 4: Calculating the power output of a wind turbine</h4>
                            <p><b>(a)</b> Estimating the wind speed at increasing altitude, from the speed at 1 m above
                                ground when the ground roughness is 1 cm (blue), 10 cm (yellow) and 20 cm (red).</p>
                            <p><b>(b)</b> Power calibration curve for the Windspot 7.5 kW turbine. This curve is
                                measured by the manufacturer and tells us the expected power output of the turbine at
                                different wind speeds. </p>
                        </figcaption>
                    </figure>
                </section>
            </div>
            <div class="tab-pane fade border border-top-0 bg-white p-3" id="content-units" role="tabpanel"
                 aria-labelledby="content-units-tab">
                <section id="units">
                    <h2>Unit Conversions</h2>
                    <p>Scientific units are what we use to <em>quantify</em> measurements. It is important to use units
                        when describing <em>how much</em> of something there is, so that other people can understand
                        what you are quantifying.</p>
                    <p>For example, if Anna wants to tell Bob how long it takes to walk to the shop, she might describe
                        the duration of the walk in units of <strong>minutes</strong> or <strong>seconds</strong>. If
                        Bob is familiar with minutes and seconds, then he knows exactly how long the journey is going to
                        take him. As we know, 10 <strong>minutes</strong> is very different than 10
                        <strong>seconds</strong>!</p>
                    <p>Choosing appropriate/sensible units is also important. If Bob wants to know the distance to the
                        shop, it might be helpful to describe it in <strong>metres</strong> or
                        <strong>kilometres</strong>. However, imagine Anna tells Bob the distance in
                        <strong>elephants</strong>. Unless Bob knows the length of an elephant, this is less helpful!
                    </p>
                    <p>The size of the unit is also important to consider. A light bulb in your house might use 10
                        <strong>watts</strong> of <u>power</u>. Now, the wind turbine that we are using in our model
                        generates up to 7,500 watts of power, and whole wind farms may generate hundreds of times this
                        number! To avoid having to use numbers that are clumsily large or small we can define new units
                        like the <strong>kilowatt</strong> which is equal to 1000 watts. Therefore, if our wind turbine
                        generates 7,500 watts, this is equal to 7.5 <strong>kilo</strong>watts, which is much clearer
                        and easier to write.</p>
                    <p>Use the interactive tool below to find out how different units can affect the calculations we
                        make. We calculate the amount of <u>energy</u> used by an appliance by multiplying the
                        <u>power</u> it requires, by the <u>time</u> it is used. This also works for devices which
                        generate power like solar panels and wind turbines.</p>
                    <p><strong>Try calculating how much energy a 10 watt lightbulb uses if it is powered on for 60
                        seconds!</strong></p>
                    <p><strong>How much energy can we generate if our wind turbine is creating 5,000 watts of electrical
                        power for 2 hours?</strong></p>
                    <form id="unit-conversion-widget">
                        <div class="row">
                            <div class="col-3 form-group">
                                <label for="input-power">Power</label>
                                <input type="number" step="any" class="form-control" id="input-power"
                                       placeholder="Enter power">
                                <select aria-label="Power Units" class="custom-select" id="input-power-units">
                                    <option value="1">Watts</option>
                                    <option value="1000">Kilowatts</option>
                                </select>
                            </div>
                            <div class="col-1">
                                <p><i class="fas fa-times"></i></p>
                                <p><i class="fas fa-times"></i></p>
                            </div>
                            <div class="col-3">
                                <label for="input-time">Time</label>
                                <input type="number" step="any" class="form-control" id="input-time"
                                       placeholder="Enter time">
                                <select aria-label="Time Units" class="custom-select" id="input-time-units">
                                    <option value="1">Seconds</option>
                                    <option value="60">Minutes</option>
                                    <option value="3600">Hours</option>
                                    <option value="86400">Day</option>
                                </select>
                            </div>
                            <div class="col-1">
                                <p><i class="fas fa-equals"></i></p>
                                <p><i class="fas fa-equals"></i></p>
                            </div>
                            <div class="col">
                                <p>Energy</p>
                                <p><span id="conversion-result"></span></p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="tab-pane fade border border-top-0 bg-white p-3" id="content-resources" role="tabpanel"
                 aria-labelledby="content-resources-tab">
                <section id="other-resources">
                    <h2>Other Useful Resources</h2>
                    <ul>
                        <li>
                            <a class="font-weight-bold" href="https://www.stranks.oe.phy.cam.ac.uk/">
                                https://www.stranks.oe.phy.cam.ac.uk/
                            </a>
                            The website for the group behind this project!
                        </li>
                        <li>
                            <a class="font-weight-bold" href="https://www.pveducation.org/">
                                https://www.pveducation.org/
                            </a>
                            A thorough collection of lessons about all aspects of photovoltaics and solar cell
                            engineering.
                        </li>
                        <li>
                            <a class="font-weight-bold" href="https://www.withouthotair.com/">
                                https://www.withouthotair.com/
                            </a>
                            An excellent book by David J. C. Mackay; a sustainable energy bible.
                        </li>
                        <li>
                            <a class="font-weight-bold" href="https://www.explainthatstuff.com/solarcells.html">
                                https://www.explainthatstuff.com/solarcells.html
                            </a>
                        </li>
                        <li>
                            <a class="font-weight-bold"
                               href="https://codeshare.phy.cam.ac.uk/itservices.phy/adopted/energy-map">
                                https://codeshare.phy.cam.ac.uk/itservices.phy/adopted/energy-map
                            </a>
                            The code that runs this website, you can see how it works.
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
{% endblock main %}
