{% extends 'measuring/base.html' %}

{% block title %}Login{% endblock %}

{% block main %}
    {% if messages %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <div id="login-form" class="container ml-0">
        <header class="pb-2 mt-4 mb-2">
            <h2>Login</h2>
        </header>
        <form method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label for="school-select" class="col-sm-2 col-form-label col-form-label-lg">School</label>
                <div class="col-auto">
                    <select id="school-select" name="username" class="custom-select custom-select-lg">
                        <option disabled selected value>Select</option>
                        {% for school in schools %}
                            <option value="{{ school.username }}">{{ school.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label col-form-label-lg">Password</label>
                <div class="col-auto">
                    <input type="password" class="form-control form-control-lg" id="password" name="password">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
        <a href="{% url "measuring:admin" %}">Admin Login</a>
    </div>
{% endblock main %}