{% extends "measuring/base.html" %}


{% block main %}
    {% if messages %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <header class="pb-2 mt-4 mb-2">
        <h1>Individual {{ reading_type }} reading</h1>
    </header>
    <div id="reading-details" class="row">
        <div id="data-submit" class="col-auto">
            <form action="{% url 'measuring:reading' reading_type reading.pk %}" method="post">
                <fieldset{% if user.username != reading.school.username and not user.is_staff %} disabled="disabled"{% endif %}>
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-auto">
                            <label for="measurement-type" class="col-form-label">Measurement Type</label>
                        </div>
                        <div class="col-auto">
                            <select id="measurement-type" class="custom-select" name="type" disabled="disabled">
                                <option value="wind"{% if reading_type == "wind" %} selected{% endif %}>Wind</option>
                                <option value="solar"{% if reading_type == "solar" %} selected{% endif %}>Solar</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-auto">
                            <label for="measurement-date" class="col-form-label">Date</label>
                        </div>
                        <div class="col-auto">
                            <input type="date" id="measurement-date" class="form-control" name="date"
                                   value="{{ reading.form_date }}">
                        </div>
                        <div class="col-auto">
                            <label for="measurement-time" class="col-form-label">Time</label>
                        </div>
                        <div class="col-auto">
                            <input type="time" id="measurement-time" class="form-control" name="time"
                                   value="{{ reading.form_time }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-auto">
                            <label for="measurement-value" class="col-form-label">Reading</label>
                        </div>
                        <div class="col-auto">
                            <input type="number" class="form-control" step="any" name="value" id="measurement-value"
                                   value="{{ reading.value }}">
                            <span id="converted-value"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-auto">
                            <label for="measurement-weather" class="col-form-label">Weather</label>
                        </div>
                        <div class="col-auto">
                            <select id="measurement-weather" class="custom-select" name="weather">
                                {% for value, text in reading.WEATHER_CHOICES.items %}
                                    <option value="{{ value }}"{% if reading.weather == value %}
                                            selected{% endif %}>{{ text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% if user.username == reading.school.username or user.is_staff %}
                        <div class="form-group row">
                            <div class="col-auto">
                                <input type="submit" class="btn btn-primary" value="Update">
                            </div>
                            <div class="col-auto">
                                <input type="reset" class="btn btn-secondary" value="Reset">
                            </div>
                            <div class="col-auto">
                                <input type="submit" class="btn btn-danger confirm-click" name="delete" value="Delete">
                            </div>
                        </div>
                    {% endif %}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock main %}