{% extends "measuring/base.html" %}

{% block head_extra %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock head_extra %}

{% block main %}
    {% if messages %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <header class="pb-2 mt-4 mb-2">
        <h1>{{ data.meta.name }}</h1>
    </header>
    <div id="school-details" class="row">
        {% if user.username == school_name or user.is_staff %}
            <div id="data-submit" class="col-auto">
                <h2>Add a new measurement</h2>
                <form action="{% url 'measuring:submit' school_name %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-auto">
                            <label for="measurement-type" class="col-form-label">Measurement Type</label>
                        </div>
                        <div class="col-auto">
                            <select id="measurement-type" class="custom-select" name="type">
                                <option value="wind">Wind</option>
                                <option value="solar">Solar</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-auto">
                            <label for="measurement-date" class="col-form-label">Date</label>
                        </div>
                        <div class="col-auto">
                            <input type="date" id="measurement-date" class="form-control" name="date"
                                   value="{% now "Y-m-d" %}">
                        </div>
                        <div class="col-auto">
                            <label for="measurement-time" class="col-form-label">Time</label>
                        </div>
                        <div class="col-auto">
                            <input type="time" id="measurement-time" class="form-control" name="time"
                                   value="{% now "H:i" %}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-auto">
                            <label for="measurement-value" class="col-form-label">Reading</label>
                        </div>
                        <div class="col-auto">
                            <input type="number" class="form-control" step="any" name="value" id="measurement-value"
                                   value="">
                            <span id="converted-value"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-auto">
                            <label for="measurement-weather" class="col-form-label">Weather</label>
                        </div>
                        <div class="col-auto">
                            <select id="measurement-weather" class="custom-select" name="weather">
                                {% for value, text in data.meta.solarreading_set.model.WEATHER_CHOICES.items %}
                                    <option value="{{ value }}">{{ text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-auto">
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
        <div class="col-auto d-none d-sm-block">
            <div class="location-map" data-lat="{{ data.meta.latitude }}" data-lon="{{ data.meta.longitude }}"
                 data-name="{{ data.meta.name }}"></div>
        </div>
        {% if user.username == school_name or user.is_staff %}
            <div class="col-auto d-none d-md-block">
                <form action="{% url "measuring:edit" school_name %}" method="post">
                    {% csrf_token %}
                    <h2>Details</h2>
                    <div class="form-group row">
                        <div class="col-auto">
                            <label for="latitude" class="col-form-label">Latitude</label>
                        </div>
                        <div class="col-auto">
                            <input type="number" class="form-control" step="any" id="latitude" name="latitude"
                                   value="{{ data.meta.latitude }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-auto">
                            <label for="longitude" class="col-form-label">Longitude</label>
                        </div>
                        <div class="col-auto">
                            <input type="number" class="form-control" step="any" id="longitude" name="longitude"
                                   value="{{ data.meta.longitude }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <input type="submit" class="btn btn-primary" value="Update">
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-auto form-group">
            <label class="h3" for="unit-switch"><i class="fa fa-exchange-alt fa-fw"></i>&nbsp;Change units</label>
            <select id="unit-switch" class="custom-select">
                <option value="watt">Watt</option>
                <option value="kwh">kWh</option>
                <option value="raw">Readings</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div id="data-plot-solar" class="col-lg-6 solar-plot">
            <h3><i class="fa fa-solar-panel"></i> Solar Plot</h3>
            {{ data.solar_xy|json_script:"solar_xy" }}
            <div class="plot-area"></div>
        </div>
        <div id="data-plot-wind" class="col-lg-6 wind-plot">
            <h3><i class="fa fa-wind"></i> Wind Plot</h3>
            {{ data.wind_xy|json_script:"wind_xy" }}
            <div class="plot-area"></div>
        </div>
    </div>
    <div class="row">
        <div id="data-table-solar" class="col-lg-6">
            <h3><i class="fa fa-solar-panel"></i> Solar Readings</h3>
            <table class="table table-sm readings-solar">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th class="reading-units">lux</th>
                    <th>Weather</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% regroup data.solar by date as solar_readings %}
                {% for date, readings in solar_readings %}
                    {% for reading in readings %}
                        <tr class="hover-show-container">
                            {% if forloop.first %}
                                <td rowspan="{{ readings|length }}">{{ date }}</td>
                            {% endif %}
                            <td>{{ reading.time }}</td>
                            <td data-reading="{{ reading.value }}">{{ reading.value }}</td>
                            <td><i class="{{ reading.symbol }}"></i></td>
                            <td>
                                <a class="hover-show-target text-dark"
                                   href="{% url "measuring:reading" "solar" reading.pk %}">
                                    <i class="fas fa-eye fa-fw"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="data-table-wind" class="col-lg-6">
            <h3><i class="fa fa-wind"></i> Wind Readings</h3>
            <table class="table table-sm readings-wind">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th class="reading-units">m/s</th>
                    <th>Weather</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% regroup data.wind by date as wind_readings %}
                {% for date, readings in wind_readings %}
                    {% for reading in readings %}
                        <tr class="hover-show-container">
                            {% if forloop.first %}
                                <td rowspan="{{ readings|length }}">{{ date }}</td>
                            {% endif %}
                            <td>{{ reading.time }}</td>
                            <td data-reading="{{ reading.value }}">{{ reading.value }}</td>
                            <td><i class="{{ reading.symbol }}"></i></td>
                            <td>
                                <a class="hover-show-target text-dark"
                                   href="{% url "measuring:reading" "wind" reading.pk %}">
                                    <i class="fas fa-eye fa-fw"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock main %}