{% if enable_ssl %}
<VirtualHost *:80>
    ServerAdmin {{ server_admin }}
    ServerName {{ ansible_fqdn }}

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    RewriteEngine On
    RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R=permanent]

    LogLevel warn
    ServerSignature Off
</VirtualHost>

SSLStaplingCache shmcb:/tmp/stapling_cache(128000)

<VirtualHost *:443>
    ServerAdmin {{ server_admin }}
    ServerName {{ ansible_fqdn }}

    SSLEngine on
    {% if enable_ssl == "certbot" %}
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ ansible_fqdn }}/privkey.pem
    SSLCertificateFile /etc/letsencrypt/live/{{ ansible_fqdn }}/fullchain.pem
    {% else %}
    SSLCertificateKeyFile /etc/ssl/private/{{ ansible_fqdn }}.key
    SSLCertificateFile /etc/ssl/certs/{{ ansible_fqdn }}.pem
    {% endif %}

    SSLProtocol All -SSLv2 -SSLv3 -TLSv1 -TLSv1.1
    SSLCipherSuite ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES256-SHA
    SSLHonorCipherOrder on
    SSLCompression off
    SSLUseStapling on
    SSLStaplingStandardCacheTimeout 864000
    SSLStaplingErrorCacheTimeout 60
    SSLStaplingReturnResponderErrors off
    SSLStaplingFakeTryLater off

    Header add Strict-Transport-Security "max-age=15768000"

    LogLevel warn
    ServerSignature Off

    Alias /static/ {{ deploy_dir }}/static/

    <Directory {{ deploy_dir }}/static>
        Require all granted
    </Directory>

    WSGIProcessGroup {{ ansible_fqdn }}
    WSGIApplicationGroup %{GLOBAL}
    WSGIDaemonProcess {{ ansible_fqdn }} user=www-data group=www-data processes=2 \
        threads=4 python-home={{ deploy_dir }}/venv home={{ deploy_dir }}/src \
        locale=en_GB.UTF-8 queue-timeout=15 socket-timeout=15 \
        connect-timeout=15 request-timeout=15 deadlock-timeout=15 \
        graceful-timeout=5
    WSGIScriptAlias / {{ deploy_dir }}/src/energymap/wsgi.py

    AllowEncodedSlashes NoDecode

</VirtualHost>
{% else %}
<VirtualHost *:80>
    ServerAdmin {{ server_admin }}
    ServerName {{ ansible_fqdn }}

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    LogLevel warn
    ServerSignature Off

    Alias /static/ {{ deploy_dir }}/static/

    <Directory {{ deploy_dir }}/static>
        Require all granted
    </Directory>

    WSGIProcessGroup {{ ansible_fqdn }}
    WSGIApplicationGroup %{GLOBAL}
    WSGIDaemonProcess {{ ansible_fqdn }} user=www-data group=www-data processes=2 \
        threads=4 python-home={{ deploy_dir }}/venv home={{ deploy_dir }}/src \
        locale=en_GB.UTF-8 queue-timeout=15 socket-timeout=15 \
        connect-timeout=15 request-timeout=15 deadlock-timeout=15 \
        graceful-timeout=5
    WSGIScriptAlias / {{ deploy_dir }}/src/energymap/wsgi.py

    AllowEncodedSlashes NoDecode

</VirtualHost>
{% endif %}